.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0% 4%;
    gap: 2%;
}

.profiles {
    display: flex;
    flex-direction: row;
}

.logo {
    --move: calc(var(--width) / -50);

    border: 1px solid #FFFFFF;

    &:first-child {
        z-index: 3;
    }

    &:nth-child(2) {
        margin-left: var(--move);
        z-index: 2;
    }

    &:nth-child(3) {
        margin-left: var(--move);
        z-index: 1;
    }
}

.text {
    font-weight: 400;
    font-size: calc(var(--width) / 30);

    strong {
        letter-spacing: unset;
    }
}