.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-bottom: 1px solid var(--Color-Light-Grey-Blue);
}

.columns {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    gap: 25px;
}

div.preview {
    @media (max-width: 600px) {
        --width: 300px;
    }
    @media (min-width: 600px) and (max-width: 1080px) {
        --width: 360px;
    }
    @media (min-width: 1080px) and (max-width: 2560px) {
        --width: 400px;
    }
    @media (min-width: 2560px) {
        --width: 450px;
    }
}