.label {
    color: var(--Color-Dark, #212121);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {

}

.input {
    display: flex;
    padding: 15px;
    align-items: center;
    align-self: stretch;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--Color-Light-Grey-Blue, #CACAD8);
    transition: 0.2s ease;
    outline: none;
    color: var(--Color-Dark, #212121);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background: transparent;

    &::placeholder {
        color: var(--Color-Light-Grey-Blue, #CACAD8);
    }

    &:focus {
        border-color: var(--Color-Dark, #212121);
        background: var(--Color-White, #FDFDFD);
    }

}

.input__error {
    border-color: var(--Color-Red, #EF0000FF);
    &:focus {
        border-color: var(--Color-Red, #EF0000FF);
    }
}

.text_error {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: var(--Color-Red, #EF0000FF);
    padding-top: 5px;
}