.container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    background: var(--Color-Grey);
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    color: var(--Color-Dark);
    white-space: nowrap;
    transition: 0.2s ease-in-out;

    &[data-active="true"] {
        background: var(--Color-Dark) !important;
        color: var(--Color-White) !important;
    }

    @media (max-width: 600px) {
        &:active {
            background: var(--Color-Light-Grey-Blue);
            color: var(--Color-Dark);
        }
    }
    @media (min-width: 600px) {
        &:hover {
            background: var(--Color-Light-Grey-Blue);
            color: var(--Color-Dark);
        }
    }
}

.item__active {
    background: var(--Color-Dark);
    color: var(--Color-White);
}