@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

:root {
    --font-family: Inter, "Noto Color Emoji", sans-serif;
    --Color-Dark: #212121;
    --Color-Dark-Alpha: rgba(33, 33, 33, 0.25);
    --Color-White: #FDFDFD;
    --Color-Grey: #F7F7FA;
    --Color-Light-Grey-Blue: #CACAD8;
    --Color-Green: #55C000;
    --Color-Red: #EF0000;
    --Color-Yellow: #FFC42E;
    --Color-Blue: #3EACCF;
}

:root[data-theme="dark"] {
    --Color-Dark: #212121;
    --Color-White: #FDFDFD;
    --Color-Grey: #F7F7FA;
    --Color-Light-Grey-Blue: #CACAD8;
    --Color-Green: #55C000;
    --Color-Red: #EF0000;
    --Color-Yellow: #FFC42E;
    --Color-Blue: #3EACCF;
}

* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    height: 100%;
    min-height: 100vh;
    background: var(--Color-White);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    height: 100%;
    min-height: 100vh;
    font-family: var(--font-family);
    color: var(--Color-Dark, #212121);

    &[data-backdrop="true"] {
        &:before {
            z-index: 10;
            opacity: 1;
            display: block;
        }
    }

    &:before {
        content: "";
        z-index: -2;
        opacity: 0;
        display: none;
        position: fixed;
        background: var(--Color-Dark-Alpha);
        backdrop-filter: blur(5px);
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        transition: 0.2s ease;
    }
}

::-webkit-scrollbar {
    width: 6px;
    &:hover{
        ::-webkit-scrollbar-thumb {
            background: var(--Color-Dark);
        }
    }
}

::-webkit-scrollbar-track {
    background: var(--Color-Grey);
}

::-webkit-scrollbar-thumb {
    background: var(--Color-Light-Grey-Blue);
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        background: var(--Color-Dark);
    }
}