.container{
    width: 100vw;
    height: 100vh;
    background: var(--Color-White);
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation{
    width: 100px;
    height: 100px;
    path{
        fill: var(--Color-Dark);
    }
}