.modal {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.link {
    margin-top: 20px;
}

.close {
    all: unset;
    display: flex;
    cursor: pointer;
    margin-left: auto;

    svg {
        display: block;
    }
}