.modal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 15px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}