.container {
    --height: calc(var(--width) / 200);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--width) / 150);
    width: 100%;
}

.item {
    display: block;
    width: 100%;
    background: #bfbebe;
    height: var(--height);
    border-radius: var(--height);
}

.currentItem {
    height: var(--height);
    background: rgba(190, 190, 195, 0.5);
    border-radius: var(--height);
    overflow: hidden;
}

.loader {
    width: 0%;
    height: 100%;
    background: #bfbebe;
    transition: 0.2s all ease;
}