.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-bottom: 1px solid var(--Color-Light-Grey-Blue);
}

.status {
    margin-right: auto;
}

.columns {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 0px;

    @media (max-width: 1670px) {
        display: flex;
        flex-direction: column;
    }
}

.column {
    height: 100%;

    @media (max-width: 1670px) {
        display: none !important;
    }

    &[data-active="true"] {
        display: flex !important;
    }
}

.previewContainer {
    padding: 15px;

    @media (max-width: 1670px) {
        display: flex;
        justify-content: center;
    }
}

div.preview {
    margin: 0 auto;
    --width: 300px;

    @media (max-width: 600px) {
        --width: 300px;
    }
    @media (min-width: 600px) and (max-width: 1921px) {
        --width: 360px;
    }
    @media (min-width: 1921px) and (max-width: 2560px) {
        --width: 400px;
    }
    @media (min-width: 2560px) {
        --width: 450px;
    }
}

.paramsContainer {
    padding: 15px;
}

.params {
    max-width: 540px !important;
    width: 100%;
}

.chatContainer {
    background: var(--Color-Grey);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;

    @media (max-width: 1670px) {
        max-width: 100%;
    }
}

.chat {
    height: 100%;
    max-height: calc(100vh - 100px);
    width: 100%;
    padding-bottom: 30px;

    @media (min-width: 0px) and (max-width: 900px) {
        max-height: calc(100vh - 226px);
    }

    @media (min-width: 900px) and (max-width: 1670px) {
        max-height: calc(100vh - 165px);
    }
}

.withoutChat {
    display: block;
    text-align: center;
}