.container {
    --height: calc(var(--width) / 200);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--width) / 150);
    width: 100%;
}

.item {
    display: block;
    width: 100%;
    background: #bfbebe;
    height: var(--height);
    border-radius: var(--height);
}