.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 1/1;

    &:hover {
        .delete {
            opacity: 1;
        }
    }

    &[data-select="true"] {
        .item {
            filter: brightness(50%);
        }
    }
}

.item {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}

.itemMedia {
    width: 100%;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.other {
    width: 100%;
    height: 100%;
    background-color: var(--Color-Light-Grey-Blue);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    color: var(--Color-White);
}

.typeIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 2;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.extension {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: var(--Color-White);
}

.delete {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--Color-Blue);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    transition: 0.2s ease;
}

.check {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    background: var(--Color-Blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
        --Color-SVG: var(--Color-White);

        display: block;
    }
}