.container {
    padding: 15px 0px;
    position: relative;

    &[data-is-current-user="true"] {
        .message {
            flex-direction: row-reverse;
        }

        .content {
            background: var(--Color-Light-Grey-Blue);
        }

        .time {
            color: var(--Color-Dark);
            text-align: right;
        }

        @media (max-width: 600px) {
            .logo {
                display: none;
            }
        }
    }

    @media (max-width: 600px) {
        padding: 8px 0px;
    }
}

.message {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.content {
    padding: 8px 15px;
    background: var(--Color-White);
    border-radius: 15px;
    white-space: pre-line;
    font-size: 18px;
    line-height: normal;
    font-weight: 300;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.time {
    display: block;
    color: var(--Color-Light-Grey-Blue);
    font-size: 12px;
    font-weight: 300;
    text-align: left;
}

.files {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 5px;
}

.loader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 14.81px;
    --Color-SVG: var(--Color-Dark);

    svg {
        display: block;
        height: 14.81px;
    }
}