.container {
    padding: 0% 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--width) / 60);
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: calc(var(--width) / 100);
}

.time {
    color: var(--elements-color);
    opacity: 0.7;
    font-weight: 400;
    font-size: calc(var(--width) / 30);
}

.buttons {
    --Color-SVG: var(--elements-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--width) / 20);
}

.dots {
    width: calc(var(--width) / 27);
}

.cross {
    width: calc(var(--width) / 17);

}