.icon {
    --size: 25px;

    width: var(--size);
    min-width: var(--size);
    max-width: var(--size);
    height: var(--size);
    min-height: var(--size);
    max-height: var(--size);

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Color-Dark);
    border-radius: 50%;

    svg {
        --size-icon: calc(var(--size) * 0.6);

        display: block;
        width: var(--size-icon);
        min-width: var(--size-icon);
        max-width: var(--size-icon);
        height: var(--size-icon);
        min-height: var(--size-icon);
        max-height: var(--size-icon);
    }
}