.button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px 15px;
    width: auto;
    min-height: 45px;
    background: var(--Color-Dark);
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    /* Text */
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--Color-White);

    &:hover {
        background: var(--Color-Light-Grey-Blue);
        color: var(--Color-Dark);
    }

    &[data-style="dark"] {
        background: var(--Color-Dark);
        color: var(--Color-White);

        &:hover {
            background: var(--Color-Light-Grey-Blue);
            color: var(--Color-Dark);
        }
    }

    &[data-style="grey"] {
        background: var(--Color-Grey);
        color: var(--Color-Dark);

        &:hover {
            background: var(--Color-Light-Grey-Blue);
            color: var(--Color-Dark);
        }
    }

    &[data-style="grey-blue"] {
        background: var(--Color-Light-Grey-Blue);
        color: var(--Color-Dark);

        &:hover {
            background: var(--Color-Dark);
            color: var(--Color-White);
        }
    }

    &[data-style="white"] {
        background: var(--Color-White);
        color: var(--Color-Dark);

        &:hover {
            background: var(--Color-Light-Grey-Blue);
            color: var(--Color-Dark);
        }
    }

    &[disabled] {
        background: var(--Color-Grey) !important;
        color: var(--Color-Light-Grey-Blue) !important;
        cursor: unset !important;
    }

    @media (max-width: 900px) {
        min-height: unset;
        padding: 10px 10px;
        font-size: 16px;
        line-height: 1;
        gap: 5px;

        .icon {
            --size: 16px !important;
        }
    }
}

.text {
    display: block;
    text-align: center;
}