.page {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
    min-height: 100vh;
    
    @media (max-width: 900px) {
        grid-template-columns: 1fr;
        padding-bottom: 70px;
    }
}