div.pagination {
    --size: calc(var(--width) / 65);

    position: unset;
    transform: none !important;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        width: var(--size);
        min-width: var(--size);
        max-width: var(--size);
        height: var(--size);
        min-height: var(--size);
        max-height: var(--size);
    }
}