.gridMedia {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;

    @media (max-width: 900px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
    }
}