.container {
    background: var(--Color-Grey);
    border: 1px solid var(--Color-Grey);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &[data-is-read="false"] {
        border-color: var(--Color-Dark);
    }
}

.projectName {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5px;
}

.message {
    width: 100%;
    line-height: 25px;
    margin-bottom: 15px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.time {
    display: block;
    color: var(--Color-Dark);
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
}

.button {
    background: var(--Color-Light-Grey-Blue);
    color: var(--Color-Dark);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;

    &:hover {
        background: var(--Color-Dark);
        color: var(--Color-White);
    }
}