.container {
    height: 100px;
    max-height: 100px;
    min-height: 100px;
    width: 100%;
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 900px) {
        padding: 10px 15px;
        height: auto;
        max-height: initial;
        min-height: initial;
    }
}