.container {
    //display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;

    @media (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }
}