.postsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.header {
    gap: 15px;
}

.socialSelect {
    width: auto;
    min-width: 200px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .pagination {
        margin-top: auto;
    }
}
