.form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    height: 100%;
    width: 100%;
    column-gap: 50px;
    align-items: flex-start;

    @media (max-width: 900px) {
        grid-template-columns: 1fr;

    }
}

.formColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}