.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #FFF;
    border-top: 1px solid #DBDBDB;
    width: 100%;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 8%;
    padding-bottom: 5%;
    z-index: 5;

    &[data-footer-overlay="true"] {
        background: unset;
    }

    svg {
        --icon-size: calc(var(--width) / 17);
        --Color-SVG: var(--elements-color);

        display: block;
        width: var(--icon-size);
        height: var(--icon-size);
    }
}

.profilePicture {
    border: 1.5px solid var(--elements-color);
}