.title {
    color: var(--Color-Dark, #212121);
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.h1 {
    font-size: 36px;
    font-weight: 400;
}

.h2 {
    font-size: 22px;
    font-weight: 400;
}

.h3 {
    font-size: 18px;
    font-weight: 300;
}

.h4 {
    font-size: 16px;
    font-weight: 300;
}

.h5 {
    font-size: 14px;
    font-weight: 300;
}

.h6 {
    font-size: 12px;
    font-weight: 300;
}