.button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--Color-Light-Grey-Blue);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transform: scale(0);
    transition: .5s cubic-bezier(.68,-.55,.27,1.55);
    opacity: 0;

    &[data-is-open="true"] {
        background: var(--Color-Dark);
    }

    &[data-show="true"] {
        transform: scale(1);
        opacity: 1;
    }

    @media (max-width: 600px) {
        &:active {
            background: var(--Color-Dark);
        }
    }

    @media (min-width: 600px) {
        &:hover {
            background: var(--Color-Dark);
        }
    }

    &[data-animation="true"] {
        svg {
            animation: ring 0.3s infinite;
        }
    }

    svg {
        transform-origin: top center;
        transition: 0.2s ease-in-out;
        display: block;
    }

    .count {
        position: absolute;
        bottom: calc(100% - 15px);
        left: calc(100% - 15px);
        background: var(--Color-Blue);
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 300;
        line-height: 1;
        color: var(--Color-Grey);
        transform: scale(0);
        transition: 0.1s ease-in-out;

        &[data-show="true"] {
            transform: scale(1);
        }
    }

    @keyframes ring {
        0% {
            transform: rotate(0);
        }
        25% {
            transform: rotate(-20deg);
        }
        50% {
            transform: rotate(0);
        }
        75% {
            transform: rotate(20deg);
        }
        100% {
            transform: rotate(0);
        }
    }
}