.container{
    background: var(--Color-White);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 400px;
}

.text{
    text-align: center;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}