.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    flex-direction: row;
    align-items: center;
    padding: 0% 4%;
}

.back {
    --sizeIcon: calc(var(--width) / 20);
    --Color-SVG: var(--elements-color);

    svg {
        display: block;
        width: var(--sizeIcon);
        height: var(--sizeIcon);
    }
}

.camera {
    --sizeIcon: calc(var(--width) / 15);
    --Color-SVG: var(--elements-color);

    margin-left: auto;

    svg {
        display: block;
        width: var(--sizeIcon);
        height: var(--sizeIcon);
    }
}

.text {
    color: var(--elements-color);
    font-size: calc(var(--width) / 21);
    font-weight: 400;
    display: block;
    text-align: center;
}