.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 15px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}