.header {
    @media (max-width: 900px) {
        flex-direction: column-reverse;
        gap: 15px;
        max-height: unset;
        height: auto;
        align-items: flex-start;
    }
}

.content {
    display: flex;
    flex-direction: column;
}

.pagination {
    margin-top: auto;
}