.preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.dragItem {
    transition: 0.2s ease-in-out;

    &:hover {
        cursor: grab;
    }

    &:active {
        cursor: grabbing;
    }

    &:focus {
        cursor: grabbing;
    }

    &.dragging {
        opacity: 0.5;
    }
}